@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-my-beige: #fff7ed;
  --color-my-dark-beige: #ffead0;
  --color-my-darker-beige: #ffddb2;
  --color-my-orange: #ff8c38;
  --color-my-yellow: #ffcc8d;

  /* BREAKPOINTS */
  --breakpoint-xl: 900px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #fff7ed;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
}
